body {   
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.wrapper1 {
width: 960px;
margin: 0 auto;
}

section {
  background: #ffffff;
  text-align: center;
}

  h1 {
    padding: 20px;
    margin: 0;
    float: left;
    color: #ffffff;
    background:  #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

  ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    float: right;
}

li {
  float: right;
}

  li a {
      display: block;
      color: #4aaaa5;
      padding: 10px 12px;
      text-decoration: none;
  }

  li:hover {
    background-color: #4aaaa5;
  }
  
  li a:hover {
    color: #ffffff;
  }

.backdrop {
clear: both;
background-image: url("../images/background.png");
border-top-style: solid;
border-top-color: #4aaaa5;
border-top-width: 1px;
border-bottom-style: solid;
border-bottom-color: #4aaaa5;
border-bottom-width: 5px;
}

.wrapper2 {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  }

  #content{
  margin: 0;
  background: #ffffff;
  padding: 20px;
  clear: both;
  border-style: solid;
  border-color: #cccccc
  }

    h2 {
      padding: 10px;
      margin-bottom: 20px;
      font-family: 'Georgia', Times, Times New Roman, serif;
      color: #4aaaa5;
      border-bottom-style: solid;
      border-bottom-color: #cccccc
    }

    form {
      padding: 10px;
      color: #777777;
      text-align: left;
      line-height: 1.5;
    }

    input[name=Name]{
      width: 95%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    input[name=Email]{
      width: 95%;
      padding: 5px;
      margin-bottom: 10px;
    }

    input[name=Message]{
      width: 95%;
      padding: 5px;
      margin-bottom: 10px;
      height: 150px;
      word-wrap: break-word;
      word-break: break-all;
    }

    button{
      padding: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      color: #ffffff;
      background:  #4aaaa5;
      text-align: center;
    }
  
  
footer {
  padding: 20px;
  color: #777777;
  background: #666666;
  text-align: center;
}